@charset "UTF-8";

#header1 {
width: 1050px;
height: 150px;
margin: 0 auto;
display: grid;
border-bottom: 1px solid #DDDDDD;
}


#header {
	position: relative;

    margin: 0 auto;
    letter-spacing: -0.3px;
	
/* 	첫 번째 요소와 마지막 요소는 컨테이너의 시작과 끝에 정렬되도록 하는 속성 */
	border-bottom: 1px solid #DDDDDD;
}


/* 로그인,회원가입 버튼 디자인 */
#header-first{

top: 50px;
display: flex;
float: right;
border-right: none;
align-items: center;
font-size: 12px;
	
}
/* 회원가입 */
.header-join{
	
display: block;
color: rgb(95, 0, 128);
cursor: pointer;

background-color: transparent;
text-decoration: none;
	
}
/* 중간 선 */
#header-first-line{
width: 1px;
height: 13px;
margin: 0px 12px;
background-color: rgb(217, 217, 217);
}

/* 로그인 */
.header-login{
	
display: block;
color: rgb(95, 0, 128);
cursor: pointer;

background-color: transparent;
text-decoration: none;
	
}

/* 검색창,카테고리,로고 전체 */
#header-secound{
display: flex;
align-items: center;
width: 1050px;
height: 60px;
background-color: rgb(255, 255, 255);
justify-content: space-between;
}

/* 카테고리 */
#header-secound-category-img{
float: left;
border-left: none;
}

#header-secound-category{
	display: flex;
    align-items: center;
    height: 100%;
}

.header-secound-category-img{
	width: 16px;
    height: 14px;
    margin-right: 14px;
}
.header-secound-category-text{
    font-size: 16px;
    color: rgb(51, 51, 51);
}

/* 로고 */

#header-secound-logo {
    width: 190px;
    height: 80px;
}

#header-logo-img {
	width: 150px;
    height: 25px;
}



#headerSearchForm {
	
	display: flex;
	align-items: center;
	max-width: 1200px;
	height: 63px;
}

/* 로고 */
#headerSearchForm_logo {
	flex: 0 0 82px;
	width: 150px;
    height: 25px;

	}


#headerSearchForm_box {
    border: 1px solid rgb(95, 0, 128);
    background-color: #ffffff;
    border-radius: 6px;
	width: 504px;
	height: 48px;
	left: 325px;
	padding-left: 14px;
	position: absolute;
	align-items: center;
	
}

.headerSearchForm-input {
    align-items: center;
    width: 80%;
    border: none;
    outline: none;
    background-color: #ffffff;
}

.headerSearchForm-btn {
    margin-left: 14px;
    margin-top: 8px;
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
}




#header-main-menu {
    padding-top: 30px;
    width: auto;
    height: 81px;
	display: flex;
	justify-content: space-between;
}

.a {
    background-color: transparent;
    text-decoration: none;
}


.header-sub-menu {
    margin: 0 3px 0 3px;
    font-size: 13px;
    font-weight: bold;     
    text-decoration: none;
    color: black;
}

#header-second {
	max-width: 1300px;
    padding: 10px 40px;
    margin: 0 auto;
	display: flex;
	justify-content: space-between;
	height: 120px;
}

.header-second-btn-group {
	width: 200px;
	height: 60px;
}

.border-btm-red {
	border-bottom: 2px solid #FF204B;
}