@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

body {	
	font-size: 9pt;
	font-family:굴림;
}

a {
	cursor: hand;
	color: #000000;
	text-decoration: none;
	font-size: 9pt;
	line-height: 150%;
}

a:hover, a:active {
	font-size: 9pt;
	color: #F28011;
	text-decoration: underline;
}